@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  font-family: Lato, sans-serif;
  font-size: 12pt;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Custom navbar */
nav {
  font-weight: 300;
}

nav.navbar-brand-bg {
  background-color: #00b8b0;
}
.navbar-brand-bg .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
.navbar-brand-bg .nav-item:hover .nav-link {
    color: #007766;
}

/* footer */
footer {
  margin-top: auto;
  font-weight: 300;
  background-color: #003a41;
  min-height: 100px;
}

footer, footer a, footer a:hover {
  color: #fff;
  padding: 1em;
}

.brand-text {
  font-weight: 700;
}

.copyright {
  font-size: 0.8em;
}

/* Create more space in layout */
.row {
  margin-top: 1em;
}

/* User icon background & hover */
.user-icon {
  color: #5a5a5a;
  background-color: #b9b9b9;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  padding-left: 0.45em !important;
}

.user-icon:hover {
  background-color: #dadada;
}

@media (min-width: 768px) {
  .user-icon {
    padding-left: 0;
  }
}

#id-img {
  max-width: 245px;
}

/* form inputs */
input, button {
  border-radius: 25px;
  margin: auto;
  padding: 5px;
}

input {
  -webkit-box-shadow: none;
  moz-box-shadow: none;
  box-shadow: none;
  border: 1px #aaa solid;
  width: 100%;
}

#add-form-btn {
  border:0;
  width: 100%;
  background-image:none;
  background-color: #57e4e0;
  color: #fff;
}

.search-control {
  position: absolute;
  top: 0;
  right: 12px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
 }

.tool-hint {
  color: #dadada;
 }

/* data table styles */
.data-heading {
  font-size: 1.2vw;
}

.lo-border {
  padding-bottom: 1%;
  border-bottom: 1px solid #aaaaaa;
}

.admin-tool {
  color: #5a5a5a;
  display: none;
}

.data-row:hover .admin-tool {
  display: inline-block;
}

.data-row:hover .tool-hint {
  display: none;
}

.admin-tool.material-icons {
  color: #b9b9b9;
}

.admin-tool.material-icons:hover {
  color: #003a41;
}

